td {
  padding: 0;
  color: #434343;
}

#first-td {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#last-td {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.detailed-calories {
  margin-top: 0.25rem;
}

.name__input::placeholder {
  color: orangered;
  transition: transform .2s;
  transform: translateX(10px); 
}